html {
  font: 1em/1.5 sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
}

* {
  -webkit-text-size-adjust: none;
}

.page {
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  background-color: white;
  box-shadow:  0 0 0 1px black;
  margin: 3em auto;
  padding: 1in;
  display: flex;
  flex-direction: column;
}

.page-header {
}

.page-content {
  overflow: hidden;
  flex-grow: 1;
}

.page-footer {
  padding: 0.5in 0;
  margin-bottom: -0.5in;
}

@page {
  size: A4 portrait;
  margin: 1in 1in 0.5in 1in;
}

@media print {
  body {
    background-color: white;
  }

  .page {
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: calc(210mm - 2in);
    height: calc(297mm - 1.5in);
    overflow: visible;
  }

  .page-footer {
    padding: 0.5in 0 0 0;
  }
}
