name: E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2      
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Setup Playwright for testing 
      uses: microsoft/playwright-github-action@v1
    - name: Get branch name (merge)
      if: github.event_name != 'pull_request'
      shell: bash
      run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV
    - name: Get branch name (pull request)
      if: github.event_name == 'pull_request'
      shell: bash
      run: echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV  
    - name: Run Tests
      continue-on-error: true
      run: |
        cd jest-playwright-reporter && npm install
        cd ..
        npm install
        npm run test
      env: 
        ENDPOINT: ${{secrets.ENDPOINT}}
        ACCOUNT_ID: ${{secrets.ACCOUNT_ID}}
        BRANCH_NAME: ${{env.BRANCH_NAME}}